* {
  margin: 0;
  padding: 0;
  font-family: 'Tahoma';
  text-align: center;
}
div {
    font-family: 'Tahoma';
    text-align: center;
    border-top: 1px solid #d5d5d5;
    padding: 50px;
    background-color: #f5f5f5;
    color: #000000
}

img {
    width: 190px;
    margin: 20px;
}

p {
width: 930px;
margin-top: 15px;
margin-right: auto;
margin-bottom: 30px;
margin-left: auto;
font-size: 16px;
text-align: center;
}

a {
  display: inline-block;
  border-radius: 25px;
  padding: 10px 30px;
  border: 1px solid #49B970;
  font-size: 14px;
  text-decoration: none;
  background-color: #49B970;
  color: white;
  margin: 20px auto;
}

span {
  font-weight: bold;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}